/* Scss Variables*/
/* css */
body {
  font-family: "Open Sans", sans-serif; }

h1, h2, h3 {
  font-family: "Lobster", cursive; }

h2 {
  color: #30c5ac; }

/*--replace with below
header h2 {
    color: $color-pale;
}
*/
header h2 {
  color: #f1f1f1; }

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100; }

.site-footer {
  background-image: linear-gradient(to right, #30c5ac, #34bda6, #8c3aa5, #6b0879);
  padding: 20px 0; }

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #34bda6, #30c5ac, #106b54);
  color: white; }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.navbar {
  background-image: linear-gradient(to right, #30c5ac, #34bda6, #8c3aa5, #6b0879); }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }

.carousel {
  border: solid #34bda6; }

#reserveButton {
  background-color: #8c3aa5;
  color: white; }

#reserveModal .modal-header {
  background-color: #34bda6;
  color: white; }

#myModal .modal-header {
  background-color: #8c3aa5;
  color: white; }

/*
.tab-content{
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
} This adds a border to the tab content that joins nicely with the tab navigation border above to give a clean, tab-like appearance*/
